

<a href="http://gamebattles.mlgbrasil.tv" class="banner-gb"><%= image_tag('gb-mini-banner-home.png')%></a>
<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Torneios</span>
</div>

<div class="play-container">
  <table class="main">
    <tr>
      <td class="first-td" title="">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone" target="_blank">
          <img class="platform-icon img_" src="http://gamebattles.mlgbrasil.tv/images/platforms/icons/64/xboxone.png" />
        </a>
      </td>
      <td title="Call of Duty: Advanced Warfare">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone/fifa-soccer-15/" target="_blank">
          <img class="game-icon img_" src="http://s3-sa-east-1.amazonaws.com/mlg-cdn/gb/arenas/avatar/64/717.png" />
        </a>
      </td>
      <td style="vertical-align: top;">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone/fifa-soccer-15/tournament/fifa-15-1v1-06-12" target="_blank">
          <table class="subtable">
            <tr>
              <td class="title_" title="">
                <div class="overflow-title">
                  <span class="money">R$200 </span>
                  FIFA 15 1v1 06-12 Torneio</div>
              </td>
            </tr>
            <tr>
              <td class="subtitle">
                <div class="overflow-title">
                  Sábado 06 de Dezembro  11:55 AM
                </div>
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="last-td">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone/fifa-soccer-15/teams/create/?tournament_id=%204274" target="_blank">
          <div class="button_">Entrar</div>
        </a>
      </td>
    </tr>
    <tr>
      <td class="first-td" title="PS4">
        <a href="http://gamebattles.mlgbrasil.tv/ps4" target="_blank">
          <img class="platform-icon img_" src="http://gamebattles.mlgbrasil.tv/images/platforms/icons/64/ps4.png" />
        </a></td>

      <td title="FIFA 15">
        <a href="http://gamebattles.mlgbrasil.tv/ps4/fifa-soccer-15/" target="_blank">
          <img class="game-icon img_" src="http://s3-sa-east-1.amazonaws.com/mlg-cdn/gb/arenas/avatar/64/717.png" />
        </a>
      </td>
      <td style="vertical-align: top;">
        <a href="http://gamebattles.mlgbrasil.tv/ps4/fifa-soccer-15/tournament/fifa-15-1v1-06-12" target="_blank">
          <table class="subtable">
            <tr>
              <td class="title_" title="">
                <div class="overflow-title">
                  <span class="money">R$200 </span>
                  FIFA 15 1v1 06-12 Torneio</div>
              </td>
            </tr>
            <tr>
              <td class="subtitle">
                <div class="overflow-title">
                  Sábado 06 de Dezembro 11:55 AM</div>
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="last-td">
        <a href="http://gamebattles.mlgbrasil.tv/ps4/fifa-soccer-15/teams/create?tournament_id=4273" target="_blank">
          <div class="button_">Entrar</div>
        </a>
      </td>
    </tr>
    <tr>
      <td class="first-td" title="ps3">
        <a href="http://gamebattles.mlgbrasil.tv/ps3" target="_blank">
          <img class="platform-icon img_" src="http://gamebattles.mlgbrasil.tv/images/platforms/icons/64/ps3.png" />
        </a></td>

      <td title="FIFA 15">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/fifa-soccer-15/" target="_blank">
          <img class="game-icon img_" src="http://s3-sa-east-1.amazonaws.com/mlg-cdn/gb/arenas/avatar/64/717.png" />
        </a>
      </td>
      <td style="vertical-align: top;">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/fifa-soccer-15/tournament/fifa-15-1v1-07-12" target="_blank">
          <table class="subtable">
            <tr>
              <td class="title_" title="">
                <div class="overflow-title">
                  <span class="money">R$150 </span>
                  FIFA 15 1v1 07-12 Torneio</div>
              </td>
            </tr>
            <tr>
              <td class="subtitle">
                <div class="overflow-title">
                  Domingo 07 de Dezembro  11:50 AM</div>
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="last-td">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/fifa-soccer-15/teams/create?tournament_id=4275" target="_blank">
          <div class="button_">Entrar</div>
        </a>
      </td>
    </tr>
    <tr>
      <td class="first-td" title="Xbox 360">
        <a href="http://gamebattles.mlgbrasil.tv/xbox360" target="_blank">
          <img class="platform-icon img_" src="http://gamebattles.mlgbrasil.tv/images/platforms/icons/64/xbox360.png" />
        </a></td>

      <td title="FIFA 15">
        <a href="http://gamebattles.mlgbrasil.tv/xbox360/fifa-soccer-15/" target="_blank">
          <img class="game-icon img_" src="http://s3-sa-east-1.amazonaws.com/mlg-cdn/gb/arenas/avatar/64/717.png" />
        </a>
      </td>
      <td style="vertical-align: top;">
        <a href="http://gamebattles.mlgbrasil.tv/xbox360/fifa-soccer-15/tournament/fifa-15-1v1-07-12" target="_blank">
          <table class="subtable">
            <tr>
              <td class="title_" title="">
                <div class="overflow-title">
                  <span class="money">R$150 </span>
                  FIFA 15 1v1 07-12 Torneio
                </div>
              </td>
            </tr>
            <tr>
              <td class="subtitle">
                <div class="overflow-title">
                  Domingo 07 de Dezembro 11:50 AM
                </div>
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="last-td">
        <a href="http://gamebattles.mlgbrasil.tv/xbox360/fifa-soccer-15/teams/create?tournament_id=4276" target="_blank">
          <div class="button_">Entrar</div>
        </a>
      </td>
    </tr>
  </table>
</div>


<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Canais</span>
</div>
<% @channels.each { |channel| %>
    <a href="<%= '/channels/channel?id='+channel['id'].to_s+'&name='+channel['name'] %>">
      <div class="channels">
        <%= image_tag(channel['image_16_9_medium'],class: 'channel-image') %>
        <% if channel['status'] == 'offline' %>
            <div class="wrapper wrapper-offline">OFFLINE</div>
        <% elsif channel['status'] == 'replay' %>
            <div class="wrapper wrapper-replay">REPLAY</div>
        <% else %>
            <div class="wrapper wrapper-live">LIVE</div>
        <% end %>
        <div class="hover-box">
          <h2><%= channel['name']%></h2>
          <div class="description">
            <div style="margin: 0px; padding: 0px; border: 0px;">
              <%= channel['description'] %>
            </div>
          </div>
        </div>
      </div>
    </a>
<% } %>