

<a href="http://gamebattles.mlgbrasil.tv" class="banner-gb"><%= image_tag('gb-mini-banner-home.png')%></a>
<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Torneios</span>
</div>

<div class="play-container">
  <table class="main">
    <tr>
      <td class="first-td" title="ps3">
        <a href="http://gamebattles.mlgbrasil.tv/ps3" target="_blank">
          <img class="platform-icon img_" src="http://gamebattles.mlgbrasil.tv/images/platforms/icons/64/ps3.png" />
        </a>
      </td>
      <td title="Call of Duty: Advanced Warfare">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/call-of-duty-advanced-warfare" target="_blank">
          <img class="game-icon img_" src="http://s3-sa-east-1.amazonaws.com/mlg-cdn/gb/arenas/avatar/64/700.png" />
        </a>
      </td>
      <td style="vertical-align: top;">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/call-of-duty-advanced-warfare/tournament/solo1v1-mlgbrasil-variant" target="_blank">
          <table class="subtable">
            <tr>
              <td class="title_" title="">
                <div class="overflow-title">
                  <span class="money">R$150 </span>
                  Solo(1v1) MLGBrasil Variant</div>
              </td>
            </tr>
            <tr>
              <td class="subtitle">
                <div class="overflow-title">
                  Sábado 29 Novembro  11:55 AM
                </div>
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="last-td">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/call-of-duty-advanced-warfare/tournament/solo1v1-mlgbrasil-variant" target="_blank">
          <div class="button_">Entrar</div>
        </a>
      </td>
    </tr>
    <tr>
      <td class="first-td" title="xbox one">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone" target="_blank">
          <img class="platform-icon img_" src="http://gamebattles.mlgbrasil.tv/images/platforms/icons/64/xboxone.png" />
        </a></td>

      <td title="Call of Duty: Advanced Warfare">
        <a href="http://gamebattles.mlgbrasil.tv/xbox360/call-of-duty-advanced-warfare" target="_blank">
          <img class="game-icon img_" src="http://s3-sa-east-1.amazonaws.com/mlg-cdn/gb/arenas/avatar/64/700.png" />
        </a>
      </td>
      <td style="vertical-align: top;">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone/call-of-duty-advanced-warfare/tournament/4v4-mlgbrasil-variant" target="_blank">
          <table class="subtable">
            <tr>
              <td class="title_" title="">
                <div class="overflow-title">
                  <span class="money">R$600 </span>
                  Equipe(4v4) MLGBrasil Variant</div>
              </td>
            </tr>
            <tr>
              <td class="subtitle">
                <div class="overflow-title">
                  Sábado 29 Novembro  11:55 PM</div>
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="last-td">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone/call-of-duty-advanced-warfare/tournament/4v4-mlgbrasil-variant" target="_blank">
          <div class="button_">Entrar</div>
        </a>
      </td>
    </tr>
    <tr>
      <td class="first-td" title="ps3">
        <a href="http://gamebattles.mlgbrasil.tv/ps3" target="_blank">
          <img class="platform-icon img_" src="http://gamebattles.mlgbrasil.tv/images/platforms/icons/64/ps3.png" />
        </a></td>

      <td title="Call of Duty: Advanced Warfare">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/call-of-duty-advanced-warfare" target="_blank">
          <img class="game-icon img_" src="http://s3-sa-east-1.amazonaws.com/mlg-cdn/gb/arenas/avatar/64/700.png" />
        </a>
      </td>
      <td style="vertical-align: top;">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/call-of-duty-advanced-warfare/tournament/equipe4v4-mlgbrasil-variant" target="_blank">
          <table class="subtable">
            <tr>
              <td class="title_" title="">
                <div class="overflow-title">
                  <span class="money">R$300 </span>
                  Equipe(4v4) MLGBrasil Variant</div>
              </td>
            </tr>
            <tr>
              <td class="subtitle">
                <div class="overflow-title">
                  Domingo 30 de Novembro  11:55 PM</div>
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="last-td">
        <a href="http://gamebattles.mlgbrasil.tv/ps3/call-of-duty-advanced-warfare/tournament/equipe4v4-mlgbrasil-variant" target="_blank">
          <div class="button_">Entrar</div>
        </a>
      </td>
    </tr>
    <tr>
      <td class="first-td" title="xboxone">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone" target="_blank">
          <img class="platform-icon img_" src="http://gamebattles.mlgbrasil.tv/images/platforms/icons/64/xboxone.png" />
        </a></td>

      <td title="Call of Duty: Ghosts">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone/call-of-duty-ghosts" target="_blank">
          <img class="game-icon img_" src="http://s3-sa-east-1.amazonaws.com/mlg-cdn/gb/arenas/avatar/64/700.png" />
        </a>
      </td>
      <td style="vertical-align: top;">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone/call-of-duty-advanced-warfare/tournament/1v1-mlgbrasil-variant" target="_blank">
          <table class="subtable">
            <tr>
              <td class="title_" title="">
                <div class="overflow-title">
                  <span class="money">R$200 </span>
                  Solo(1v1) MLGBrasil Variant                                       </div>
              </td>
            </tr>
            <tr>
              <td class="subtitle">
                <div class="overflow-title">
                  Domingo 30 de Novembro  11:55 PM                                         </div>
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="last-td">
        <a href="http://gamebattles.mlgbrasil.tv/xboxone/call-of-duty-advanced-warfare/tournament/1v1-mlgbrasil-variant" target="_blank">
          <div class="button_">Entrar</div>
        </a>
      </td>
    </tr>
  </table>
</div>


<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Canais</span>
</div>
<% @channels.each { |channel| %>
    <a href="<%= '/channels/channel?id='+channel['id'].to_s+'&name='+channel['name'] %>">
      <div class="channels">
        <%= image_tag(channel['image_16_9_medium'],class: 'channel-image') %>
        <% if channel['status'] == 'offline' %>
            <div class="wrapper wrapper-offline">OFFLINE</div>
        <% elsif channel['status'] == 'replay' %>
            <div class="wrapper wrapper-replay">REPLAY</div>
        <% else %>
            <div class="wrapper wrapper-live">LIVE</div>
        <% end %>
        <div class="hover-box">
          <h2><%= channel['name']%></h2>
          <div class="description">
            <div style="margin: 0px; padding: 0px; border: 0px;">
              <%= channel['description'] %>
            </div>
          </div>
        </div>
      </div>
    </a>
<% } %>