<div class="tittle">
  <div class="line"></div>
  <span class="channel_span">Entre em contato</span>
</div>
<div style="width: 690px; height: 640px">

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal col-lg-6' },:defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } } do |f| %>
      <%= f.input :name, :required => true, :label=> 'Nome' %>
      <%= f.input :email, :required => true, :label=>'Email' %>
      <%= f.input :message, as: :text, :input_html => { class: 'txt_input', :cols => 56, :rows => 8 } %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Deixe este campo em branco' %>
      </div>

        <%= f.button :submit, 'Enviar Mensagem', :class=> "btn btn-primary" %>

  <% end %>
</div>
<!--
 <p style="text-align: center">
  Para eventos, por favor contate Camila, kgoldberg@mlg.tv<br>
  Para vendas e patrocionios favor contatar : sales@mlgpro.com<br>
  Se voce tem duvidas sobre as contas MLG Brasil, please contact: accounts@mlgpro.com<br>
</p> -->