<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="M63JTIooWx-_hZFGsBLzkFor8z79rG7sUpxA8fWX0yY"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
  <title><%= content_for?(:title) ? yield(:title) : "MLG Brasil" %></title>
  <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "MLG Brasil" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href="http://s3-sa-east-1.amazonaws.com/mlg-assets/assets/js_header.css" media="screen" rel="stylesheet" type="text/css">
  <script src="http://s3-sa-east-1.amazonaws.com/mlg-assets/assets/js_header.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <script type="text/javascript">
      //<![CDATA[

      $(document).ready(function () {
          var content_api_url = "http://majorleaguegaming.com/api/channels/all.js";
          var streams_api_url = "http://streamapi.majorleaguegaming.com/service/streams/all";

          var MLG_CHANNEL = new MlgChannel(content_api_url, streams_api_url, null);

          MLG_CHANNEL.MLG_API_CLIENT.getContent();

          var last_content_pull = new Date().getTime() / 1000;

          var refresh_channels_interval = setInterval(function () {
              var time_since_pull = (new Date().getTime() / 1000) - last_content_pull;
              if (time_since_pull >= 60) {
                  MLG_CHANNEL.MLG_API_CLIENT.getContent();
              }
          }, 60000);

          $("#channels-button").click(function () {
              $(this).addClass("active");
              $("#chat-button").removeClass("active");
              $("#chat").css("display", "none");
              $("#channels").css("display", "block");
              $("#channels").html('<div class="spinner"><img alt="Loading" src="//assets2-www.majorleaguegaming.com/assets/loaderdark-4b5407a9e8929fc7fea019bfd00c6750.gif" /></div>');
              MLG_CHANNEL.MLG_API_CLIENT.getContent(); // Refresh the channel list
          });

          $("#chat-button").click(function () {
              $(this).addClass("active");
              $("#channels-button").removeClass("active");
              $("#channels").css("display", "none");
              $("#chat").css("display", "block");
          });
      });

      //]]>
  </script>
</head>
<body>
<div id="mlg-header" class="mlg-header-bg">
</div>
<div class="container_bg">

<div class="container">
  <div class="subcontainer">
    <div id="channel">
      <!-- VIDEO -->
      <div id="video" style="background: url(http://s3.amazonaws.com/s3.majorleaguegaming.com/tv-category-icons/image_16_9s/136/medium/FormalStream3.jpg?1405542333) ;">
        <a id="play_placeholder" href="#">
          <div style="width:100%;height:100%;">
            <div class="circle_one" style="opacity: 0.8;">
              <div class="play_triangle" style="opacity: 0.8;"></div>
            </div>
          </div>
        </a></div>

      <!-- VIDEO SIDEBAR -->
      <div id="video-sidebar">
        <div id="sidebar-nav">
          <div class="btn-group">
            <button id="expand-button" class="btn btn-default expand"><span class="glyphicon glyphicon-resize-full"></span>
            </button>
            <button id="channels-button" class="btn btn-default first active"><span class="glyphicon glyphicon-list"></span>
              Canais
            </button>
            <!--<button id="chat-button" class="btn btn-default last"><span class="glyphicon glyphicon-comment"></span> Chat
            </button>-->
          </div>
        </div>
        <div id="sidebar-content">
          <!-- CHANNEL LIST -->
          <div id="channels">
          </div>
        </div>
      </div>
      <div id="info-container">
        <div id="channel-info">
          <div class="info">
            <div id="info-top">
            </div>
            <div style="clear: both;"></div>
            <div id="info-bottom">

            </div>
          </div>
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>

</div>

<div class="content_box">
  <div class="content_left">
    <%= yield %>
  </div>
  <div class="content_rigth">
    <%= render :partial => 'layouts/content_right' %>
  </div>
</div>
<div class="footer_bg">
  <div class="footer_box">
    <div class="footer_sitemap">
      <h3>MLG BRASIL</h3>
      <ul>
        <li><a href="http://www.">Home</a></li>
        <li><a href="#">Streams</a></li>
        <li><a href="#">Gamebattles</a></li>
        <li><a href="#">Monte seu time</a></li>
      </ul>
    </div>
    <div class="footer_sitemap" style="width: 160px">
      <h3>SOBRE A MLG BRASIL</h3>
      <ul>
        <li><a href="/quem_somos">Quem somos</a></li>
        <li><a href="/nosso_time">Nosso time</a></li>
        <li><a href="/mlg_brasil_na_midia">MLG Brasil na mídia</a></li>
      </ul>
    </div>
    <div class="footer_sitemap">
      <h3>SUPORTE</h3>
      <ul>
        <li><a href="contato">Anunciantes</a></li>
        <li><a href="#">Resolução de Partidas</a></li>
        <li><a href="#">Suporte geral</a></li>
        <li><a href="contato">Fale conosco</a></li>
      </ul>
    </div>
    <div class="footer_social">
      <h3>SIGA NOSSAS REDES SOCIAIS</h3>
      <a class="footer_social_icon fb" href="https://www.facebook.com/MLGBrasil?fref=tsins"></a>
      <a class="footer_social_icon tw" href="https://twitter.com/MLG_Brasil"></a>
      <a class="footer_social_icon yt" href="https://www.youtube.com/user/MLGBrasilOficial"></a>
      <a class="footer_social_icon iin" href="http://instagram.com/mlgbrasil"></a>
    </div>
  </div>
</div>
</body>
</html>